body {
  box-sizing: border-box;
}

p {
  margin: 0;
}

@layer colors {
  :root {
    --color-dark-blue: hsl(218, 44%, 22%);
    --color-medium-blue: hsl(216, 15%, 48%);
    --color-light-blue: hsl(212, 45%, 89%);
    --color-white: hsl(0, 0%, 100%);
  }
}

@layer fonts {
  /* outfit-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Outfit";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/outfit-v11-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* outfit-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Outfit";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/outfit-v11-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
}

@layer typograhy {
  .text1 {
    font-family: Outfit, Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0;
    font-weight: 700;
  }

  .text2 {
    font-family: Outfit, Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 140%;
    letter-spacing: 0.2;
    font-weight: 400;
  }
}

@layer spacing {
  --space-xl: calc(40 / 16 * 1rem);
  --space-m: calc(24 / 16 * 1rem);
  --space-s: calc(16 / 16 * 1 rem);
}

body {
  background-color: var(--color-light-blue);
}

.card {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 499px;
  margin: auto auto;
  margin-top: 231px;
  background-color: var(--color-white);
  border-radius: 10px;
}

.card__image {
  border-radius: 10px;
  margin: 16px;

  > img {
    border-radius: 10px;
  }
}

.card__text {
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
}

.attribution {
  margin-top: 50px;
  text-align: center;
}
